#jumbotron{
background-image: url("../images/btc-gb2.jfif");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.cryptoinsearch {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.lg-logo{
    font-family:cursive;
}
body{
    background-image: url('https://images.unsplash.com/photo-1577915207354-8f266a3fc016?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
